.wrapper
    button.dark-btn dark
    section.banner
        .banner__container
            .banner__info
                .banner__info-top ВІТАЛЬНИЙ БОНУС*
                .banner__info-wrap
                    .banner__info-center #[span до] 15 000 ₴
                    .banner__info-bottom 300 FS
                a(href="https://www.favbet.ua/uk/short-register/?from=header-desktop").banner__info-link забрати бонус
                .banner__info-sub * Під бонусом розуміється можливість отримати приз в рамках Акції «Вітальний бонус». Деталі на сайті favbet.ua. Період Акції з 01.02.2023 по 31.12.2024 року. Бонус доступний тільки для нових клієнтів.